hydra-core
PyYAML
python-dotenv
pyrootutils
opencv-python
numpy
openvino-dev[onnx]
matplotlib
colorlog
Pillow
scipy
ipyfilechooser
onnx
onnxruntime-gpu
onnx-simplifier
requests
pandas
lap
cython_bbox
loguru