<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CLI11" version="2.2.0" targetFramework="native" />
  <package id="fluid.yaml-cpp" version="1.0.10" targetFramework="native" />
  <package id="opencv_cuda_debug_450" version="4.5.0.202107291" targetFramework="native" />
  <package id="spdlog.native" version="1.0.0" targetFramework="native" />
</packages>